<md-dialog aria-label="Add project">
	<form ng-cloak>
	    <md-toolbar class="md-hue-2">
	      <div class="md-toolbar-tools">
	        <h2>Create new project</h2>
	        <span flex></span>
	        <md-button class="md-icon-button" ng-click="cancel()">
	          <ng-md-icon icon="close" aria-label="Close dialog"></ng-md-icon>
	        </md-button>
	      </div>
	    </md-toolbar>
	</form>
	<md-dialog-content>
      <div class="md-dialog-content">
      
		<md-list layout-padding>
		  <md-list-item class="md-3-line">
		  	<img ng-src="{{item.img}}" class="md-avatar" alt="{{item.title}}" />
		      <div class="md-list-item-text">
		      	<h3>ID</h3>
		      	<input ng-model="item.id">
		      	
		      	<h3>Title</h3>
		        <input ng-model="item.title">
		        
		        <h3>Subtitle</h3>
		        <input ng-model="item.subtitle">
		        
		        <h3>Description</h3>
		        <input ng-model="item.description">
		        
		        <h3>Creator</h3>
		        <input ng-model="item.creator">
		        
		      </div>
		  </md-list-item>
		</md-list>
		
      </div>
    </md-dialog-content>
    
    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button ng-click="answer(undefined)">
       Cancel
      </md-button>
      <md-button ng-click="answer(item)">
        OK
      </md-button>
    </md-dialog-actions>
	
</md-dialog>