<md-dialog aria-label="Rename dialog">
    <md-toolbar class="md-hue-2">
      <div class="md-toolbar-tools">
        <h2>Rename step</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <ng-md-icon icon="close" aria-label="Close dialog"></ng-md-icon>
        </md-button>
      </div>
    </md-toolbar>
	<md-dialog-content>
      <div class="md-dialog-content">
      
		<p>You want to rename the following step:</p>
		<h1>ID: <input disabled ng-model="item.title"></h1>
		<h4 ng-if="item.subtitle"><b>Subtitle:</b>{{item.subtitle}}</h4>
		<h4 ng-if="item.description"><b>Description:</b>{{item.description}}</h4>
		
		<p>into the following:</p>
		<md-input-container>
			<label>New step name</label>
			<input required md-autofocus type="text" ng-model="new_name">
		</md-input-container>
		
      </div>
    </md-dialog-content>
    
    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button ng-click="answer('Cancel')">
       Cancel
      </md-button>
      <md-button ng-click="answer(new_name)">
        OK
      </md-button>
    </md-dialog-actions>
	
</md-dialog>