<md-dialog style="min-height: 90%; min-width: 95%;" aria-label="Phenodata for: {{item.title}}">

	<md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Phenodata for: {{item.title}}</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="hide()">
          <ng-md-icon icon="close" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    
	<md-dialog-content>
		<div class="md-dialog-content">
			
			<h3>{{item.rows.length}} results (rows)</h3>
			<h4>{{item.header.length}} column(s)</h4>
			
			<table>
				<thead>
					<tr>
						<th ng-repeat="h in item.header track by $index">{{h}}</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="row in item.rows">
						<td ng-repeat="value in row track by $index">{{value}}</td>
					</tr>
				</tbody>
			</table>
		
		</div>
	</md-dialog-content>
</md-dialog>