body {
	height: 100%;
}

.pagination ul {
	list-style-type: none;
}
.pagination li {
	display: inline;
	background-color: lightgrey;
	border: 4px grey solid;
	margin: 0px 5px 0px 5px;
}
.pagination li a {
	padding: 5px 10px 5px 10px;
	text-decoration: none;
}

.inline {
	display: inline-block;
}

.loading {
	color: firebrick;
}

.drop-box {
    background: #F8F8F8;
    border: 5px dashed #DDD;
    width: 170px;
    text-align: center;
    padding: 50px 10px;
    margin-left: 10px;
}

.image-cropper {
    width: 100px;
    height: 100px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}

.image-cropper img {
	display: inline;
/* 	  margin: 0 auto; */
/* 	  margin-left: -25%; */
	  height: 100%;
	  width: auto;
}

.small_cropper {
	width: 75px;
	height: 75px;
}


main-container .ng-enter {
	transition: all linear 0.5s;
	opacity: 0;
}
main-container .ng-enter-active {
	opacity: 1;
}

main-container .ng-leave {
	transition: all linear 0.5s;
	opacity: 1;
}
main-container .ng-leave-active {
	opacity: 0;
}

.landing {
	position: relative;
    color: white;
}

.text-1-5x{
	font-size: 1.5em;
}

.text-2x{
	font-size: 2em;
}

.landing-title {
	text-align: center;
	font-size: 2em;
	width: 100%;
	position: absolute;
    bottom: 75px;
}

.split {
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
}

.left {
	width: 50%;
	left: 0;
}

/* Control the right side */
.right {
	width: 50%;
	right: 0;
}


.login-tools {
	top: 20px;
	position: absolute;
	right: 20px;
	display: inline-block;
}

.login-tools .md-button {
/* 	padding: 5px 20px; */
}

.login-tools .md-button b{
	margin: 10px;
}



.disable-link {
	text-decoration: none;
}

a.disable-link {
  color: inherit;
}

.angular-tooltip {
  position: absolute;
  background: #000000;
  z-index: 9999;
  padding: 3px;
  border: 2px solid #000000;
  color: white;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  max-width: 500px;
  border-radius: 5px; }

.main-content {
	
}

my-autocomplete {
	width: 100%;
}

.small-checkbox {
	margin: 5px !important;
}

.side-filters {
	min-width: 30%;
	background-color: #e7e7e7;
}

.line-height-small {
	line-height: 20px;
}

v-pane-content {
	padding-left: 25px;
}

.small-height {
	height: 100px;
}

.medium-height {
	height: 200px;
}

.full-height {
	height: 100%;
}

.full-width {
	width: 100%;	
}

.condition {
	padding:10px;
	width: 30px;
}

.simple-condition {
	padding:5px;
	width: 10px;
}

.simple-condition-container {
	background-color: #f4511e;
	margin:10px;
	padding: 5px;
}

.binary-condition {
	color: white;
	background-color: #f4511e;
	margin:10px;
	padding: 10px;
}

.over-condition {
	background-color: green;
}

.normal-condition {
	background-color: white;
}

md-sidenav {
   position: fixed;
   height: 100%;
   min-height: 100%;
}

td { padding: 10px; }
tr:nth-child(even) {background: #EEE}
tr:nth-child(odd) {background: #FFF}

.md-chip-input-container {
	width: 100%;
}

.category {
	color: cornflowerblue;
	font-weight: bold;
}





.text-small {
	font-size: 0.7em;
	white-space:normal;
}

.mdchips-inline md-chip {
	vertical-align: middle;
	max-width: 100px;
	height: auto;
	padding: 2px 7px 4px 7px;
	margin-top: 2px;
}

.mdchips-inline .md-chips {
	box-shadow: 0 0px !important;
}

.mdchips-inline {
	display: inline-block;
	vertical-align: middle;
}

.mdchips-inline .md-chip-content {
	line-height: 12px;
}

.md-chips {
	vertical-align: middle;
	padding-bottom: 2px;
	padding-left: 0px;
}

.mdchips-inline {
	border-radius: 30px;
	padding: 5px;
	border: 2px solid #fff;
	box-shadow: 0 5px 1px -2px rgba(0,0,0,.14),0 5px 2px 0 rgba(0,0,0,.098),0 5px 5px 0 rgba(0,0,0,.084);
}

md-chip:last-child {
	margin-right: 0px;
}

my-autocomplete md-content {
	border: 2px solid;
}

.md-chip-input-container {
	border: 2px solid;
}

.md-chip-input-container div {
	padding: 10px;
}


.code {
	display:block;
	background-color: black;
	color: white;
	font-weight: bold;
	padding: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	overflow-wrap: normal; white-space: pre;
}

.margin-0 {
	margin: 0px;
}

.margin-5 {
	margin: 5px;
}

.margin-30 {
	margin: 30px;
}

.margin-small {
	margin: 10px;
}

.padding-small {
	padding: 10px;
}

.padding-medium {
	padding: 15px;
}

.margin-left-5 {
	margin-left: 5px;
}

.margin-left-10 {
	margin-left: 10px;
}

.margin-left-30 {
	margin-left: 30px;
}

.vertically-centered {
	vertical-align: middle;
}

.vertically-bottom {
	vertical-align: bottom;
}

.padding-left-10 {
	padding-left: 10px;
}

.padding-left-15 {
	padding-left: 15px;
}

.padding-left-30 {
	padding-left: 30px;
}

.padding-10 {
	padding: 10px;
}

.padding-30 {
	padding: 30px !important;
}

.no-padding {
	padding: 0px !important;
}

.no-margin {
	margin: 0px !important;
}

spacer {
	display: block;
	height: 75px;
	width: 100%;	
}

.lighter {
	color: grey;
}

.background_grey {
	background-color: #DDD;
}

.disabled_pane {
	background-color: lightsalmon;
	fill: bisque !important;
	color: bisque !important;
	padding: 0 0 0 30px !important;
}

.disabled_pane .lighter {
	color: bisque !important;
}

.disabled_pane md-chip {
	background: bisque !important;
}

.default-icon-color {
	color: red;
}

.background-warn {
	background-color: rgb(255, 240, 196);
}

.default-border {
	border: 3px solid burlywood;
}

.color-picker-swatch .custom-colorpicker {
	border: 0px;
	border-radius: 50px;
	width: 7px;
}

.md-color-picker-input-container md-input-container {
	display: none !important;
}

.md-color-picker-input-container .md-color-picker-preview {
	top: 0px !important;
}

.circle{
  height: 25px;
  width: 25px;
  background-color: white;
  border-radius: 20px;
  border: 3px solid white;
}

.node rect {
  stroke: #999;
  fill: #fff;
  stroke-width: 1.5px;
}

.edgePath path {
  stroke: #333;
  stroke-width: 1.5px;
}

g.top > rect {
  fill: #ffad33;
}

g.project > rect {
  fill: #17e1f0;
}

g.experiment > rect {
  fill: #00d400;
}

g.sample > rect {
  fill: #f66;
}