body {
	height: 100%;
}

.angular-tooltip {
  position: absolute;
  background: #000000;
  z-index: 9999;
  padding: 3px;
  border: 2px solid #000000;
  color: white;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  max-width: 500px;
  border-radius: 5px; }

.main-content {
	
}

.line-height-small {
	line-height: 20px;
}

v-pane-content {
	padding-left: 25px;
}

.small-height {
	height: 100px;
}

.medium-height {
	height: 200px;
}

.full-height {
	height: 100%;
}

.full-width {
	width: 100%;	
}

.condition {
	padding:10px;
	width: 30px;
}

.simple-condition {
	padding:5px;
	width: 10px;
}

.simple-condition-container {
	background-color: #f4511e;
	margin:10px;
	padding: 5px;
}

.binary-condition {
	color: white;
	background-color: #f4511e;
	margin:10px;
	padding: 10px;
}

.over-condition {
	background-color: green;
}

.normal-condition {
	background-color: white;
}

md-sidenav {
   position: fixed;
   height: 100%;
   min-height: 100%;
}

td { padding: 10px; }
tr:nth-child(even) {background: #EEE}
tr:nth-child(odd) {background: #FFF}

.md-chip-input-container {
	width: 100%;
}

.category {
	color: cornflowerblue;
	font-weight: bold;
}





.text-small {
	font-size: 0.7em;
	white-space:normal;
}

.mdchips-inline md-chip {
	vertical-align: middle;
	max-width: 100px;
	height: auto;
	padding: 2px 7px 4px 7px;
	margin-top: 2px;
}

.mdchips-inline .md-chips {
	box-shadow: 0 0px !important;
}

.mdchips-inline {
	display: inline-block;
	vertical-align: middle;
}

.mdchips-inline .md-chip-content {
	line-height: 12px;
}

.md-chips {
	vertical-align: middle;
	padding-bottom: 2px;
	padding-left: 0px;
}

.mdchips-inline {
	border-radius: 30px;
	padding: 5px;
	border: 2px solid #fff;
	box-shadow: 0 5px 1px -2px rgba(0,0,0,.14),0 5px 2px 0 rgba(0,0,0,.098),0 5px 5px 0 rgba(0,0,0,.084);
}

md-chip:last-child {
	margin-right: 0px;
}

my-autocomplete md-content {
	border: 2px solid;
}

.md-chip-input-container {
	border: 2px solid;
}

.md-chip-input-container div {
	padding: 10px;
}


.code {
	display:block;
	background-color: black;
	color: white;
	font-weight: bold;
	margin-top: 10px;
	margin-bottom: 10px;
}

.margin-0 {
	margin: 0px;
}

.margin-small {
	margin: 10px;
}

.padding-medium {
	padding: 15px;
}

.margin-left-10 {
	margin-left: 10px;
}

.vertically-centered {
	vertical-align: middle;
}

.vertically-bottom {
	vertical-align: bottom;
}

.padding-left-10 {
	padding-left: 10px;
}

.padding-left-15 {
	padding-left: 15px;
}

.padding-left-30 {
	padding-left: 30px;
}

.padding-10 {
	padding: 10px;
}

.padding-30 {
	padding: 30px !important;
}

.no-padding {
	padding: 0px !important;
}

.no-margin {
	margin: 0px !important;
}

spacer {
	display: block;
	height: 75px;
	width: 100%;	
}

.lighter {
	color: grey;
}

.background_grey {
	background-color: #DDD;
}

.disabled_pane {
	background-color: lightsalmon;
	fill: bisque !important;
	color: bisque !important;
	padding: 0 0 0 30px !important;
}

.disabled_pane .lighter {
	color: bisque !important;
}

.disabled_pane md-chip {
	background: bisque !important;
}

.default-icon-color {
	color: red;
}

.background-warn {
	background-color: rgb(255, 240, 196);
}

.default-border {
	border: 3px solid burlywood;
}

.color-picker-swatch .custom-colorpicker {
	border: 0px;
	border-radius: 50px;
	width: 7px;
}

.md-color-picker-input-container md-input-container {
	display: none !important;
}

.md-color-picker-input-container .md-color-picker-preview {
	top: 0px !important;
}
