body {
	height: 100%;
}

.angular-tooltip {
  position: absolute;
  background: #000000;
  z-index: 9999;
  padding: 3px;
  border: 2px solid #000000;
  color: white;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  max-width: 500px;
  border-radius: 5px; }

.main-content {
	
}

v-pane-content {
	padding-left: 25px;
}

.small-height {
	height: 100px;
}

.medium-height {
	height: 200px;
}

.full-height {
	height: 100%;
}

.full-width {
	width: 100%;	
}

md-sidenav {
   position: fixed;
   height: 100%;
   min-height: 100%;
}

td { padding: 10px; }
tr:nth-child(even) {background: #EEE}
tr:nth-child(odd) {background: #FFF}

.code {
	display:block;
	background-color: black;
	color: white;
	font-weight: bold;
	margin-top: 10px;
	margin-bottom: 10px;
}

.margin-0 {
	margin: 0px;
}

.padding-left-10 {
	padding-left: 10px;
}

.padding-left-30 {
	padding-left: 30px;
}

.padding-10 {
	padding: 10px;
}

.padding-30 {
	padding: 30px;
}

.no-margin {
	margin: 0px;
}

spacer {
	display: block;
	height: 75px;
	width: 100%;	
}

.lighter {
	color: grey;
}

.disabled_pane {
	background-color: lightsalmon;
	fill: bisque !important;
	color: bisque !important;
	padding: 0 0 0 100px !important;
}

.disabled_pane .lighter {
	color: bisque !important;
}