<md-content
	class="md-input-has-placeholder"
	md-select-on-match>
	
	<md-autocomplete
		  md-input-id="pipelinerAutocomplete"
		  md-no-cache="true"
	      md-select-on-match
		  md-match-case-insensitive
		  placeholder="{{label}}"
          md-search-text="searchText"
          md-selected-item="value"
          md-selected-item-change="selectedItemChange(item)"
          md-items="item in querySearch(searchText)"
          md-item-text="item.label"
          md-min-length="0"
          style="min-width: 100%"
        >
        <md-item-template>
        	<div ng-class="{'disabled': item.disabled}">
	        	<img ng-if="item.img" ng-src="{{item.img}}" style="vertical-align: middle;" ng-class="{'img-disabled': item.disabled}">
	        	<span style="padding-bottom: 5px;" md-highlight-text="searchText" md-highlight-flags="^i">
	          		{{item.label}}
				</span>
				<span ng-if="item.extra" class="lighter" style="margin: 0px;">({{item.extra}})</span>
				<md-chips ng-if="item.tags.length > 0" ng-style="{'background-color': item.color}" ng-model="item.tags" readonly="true" class="mdchips-inline">
					<md-chip-template class="text-small" style="height: 15px;">
				        <div>
				          <div><strong>{{$chip.name}}</strong></div>
				          <div><em class="category">({{$chip.type}})</em></div>
				        </div>
					</md-chip-template>
		    	</md-chips>
			</div>
        </md-item-template>
        <md-not-found>
			<span ng-if="!sending">No items matching "{{searchText}}" were found.</span>
       </md-not-found>
      </md-autocomplete>
</md-content>
<md-button ng-if="cache" ng-click="clear_cache()" class="md-button md-raised md-warn">
 Clear cache
</md-button>