<div layout="column" layout-align="center center" style="background-color: #a6dde2; color: white; font-size: 2em;">
	<md-button ui-sref="home" class="md-raised md-accent md-hue-3 toolbar-button" aria-label="Go to the main page">
    	<i class="fas fa-arrow-left" md-colors="{color:'warn'}"></i> <b>Go to the main page</b>
  	</md-button>
  	
	<h1>You logged out successfully <i class="fas fa-smile-wink"></i></h1>
	<h2 style="font-size:1em;">We hope to see you back soon...</h2>
	<h2 style="font-size:1em;">You will be redirected to your profile in 3 seconds...</h2>		
	<img width="75%" src="imgs/logout.jpeg">
</div>
