<div ng-if="project.monitor_pipelines.length == 0" layout="column" layout-align="start center" layout-padding>
	<h3>No monitor definitions have been defined yet for this project.</h3>
	<img class="medium-height" width="auto" src="imgs/no_projects.png">
</div>
<md-button class="md-button md-warn md-raised" ng-click="create_monitor_pipeline(project)" tooltip="Add a pipeline to this project" aria-label="Add a new pipeline">
	<i class="fas fa-cogs"></i>
	Add monitor pipeline
</md-button>
<md-button class="md-button md-warn md-raised" ng-click="import_monitor_pipeline(project)" tooltip="Import a monitor pipeline to this project from pre-defined monitor pipelines" aria-label="Import a monitor pipeline from pre-defined monitor pipelines">
	<i class="fas fa-cogs"></i>
	Import monitor pipeline
</md-button>

<v-accordion class="vAccordion--default padding-10" multiple onexpand="select_pipeline(index, project.monitor_pipelines, id, pane)">
	  <v-pane ng-repeat="pipeline in project.monitor_pipelines track by $index">
	    <v-pane-header layout="row" layout-align="start center">
	    	<span md-truncate flex><b>Monitor Pipeline {{$index+1}}: {{pipeline.id}}</b></span>
	    	
<!-- 							    	<i class="fas fa-circle" ng-style="{color: {{pipeline.color || 'blue'}}}"></i> -->
			<span ng-click="chooseColor($event)" class="vertically-centered margin-left-10" style="display:inline-block;" md-color-picker ng-model="pipeline.color" options="{default: '#{{pipeline.color}}'}"></span>
	    	
	    	<md-chips ng-if="pipeline.tags.length > 0" ng-style="{'background-color': pipeline.color}" ng-model="pipeline.tags" readonly="true" class="mdchips-inline">
				<md-chip-template class="text-small" style="height: 20px;">
			        <div>
			          <div><strong>{{$chip.name}}</strong></div>
			          <div><em class="category">({{$chip.type}})</em></div>
			        </div>
				</md-chip-template>
	    	</md-chips>
	    	
	    	<md-button class="md-icon-button" ng-click="saveMonitorPipelineToRepository(pipeline, $event)" tooltip="Save pipeline" aria-label="Save pipeline">
		      <ng-md-icon icon="gavel"></ng-md-icon>
		    </md-button>
	    	
	    	<md-button class="md-icon-button" ng-click="showDeleteDialog(project.monitor_pipelines, $index, $event)" tooltip="Delete pipeline" aria-label="Delete pipeline">
		      <ng-md-icon icon="delete"></ng-md-icon>
		    </md-button>
		    
		    <md-button class="md-icon-button" ng-click="cloneMonitorPipeline($index, $event)" tooltip="Clone pipeline" aria-label="Clone pipeline">
		      <ng-md-icon icon="content_copy"></ng-md-icon>
		    </md-button>
		    
		    <md-button class="md-icon-button" ng-click="move_item(project.monitor_pipelines, $index, -1, $event)" tooltip="Move up this pipeline" aria-label="Move up this pipeline">
		      <ng-md-icon icon="keyboard_arrow_up"></ng-md-icon>
		    </md-button>
		    
		    <md-button class="md-icon-button" ng-click="move_item(project.monitor_pipelines, $index, 1, $event)" tooltip="Move down this pipeline" aria-label="Move down this pipeline">
		      <ng-md-icon icon="keyboard_arrow_down"></ng-md-icon>
		    </md-button>
	    </v-pane-header>
	    <v-pane-content>
	    	<section>
	    		<md-input-container class="full-width">
					<label>Monitor Pipeline ID</label>
		    		<input type="text" aria-label="Monitor Pipeline ID" ng-model="pipeline.id">
	    		</md-input-container>
	    	</section>
	    	<section>
	    		<v-accordion class="no-padding">
				  	<v-pane>
					    <v-pane-header class="no-margin">
					    	<md-subheader class="md-primary">Tags</md-subheader>
					    </v-pane-header>
					    <v-pane-content>
				    		<div ng-init="chosenTags = pipeline.tags;" ng-include="'templates/tagger.html'"></div>
				    	</v-pane-content>
					</v-pane>
				</v-accordion>
	    	</section>
			<section>
					<v-accordion class="no-padding">
					  	<v-pane>
						    <v-pane-header class="no-margin">
						    	<md-subheader class="md-primary">Variables and constants (system-reserved variables have their keys disabled, but you can still edit their values)</md-subheader>
						    </v-pane-header>
						    <v-pane-content>
								<div ng-repeat="variable in pipeline.variables">
									<md-input-container layout="row" flex>
										<input ng-disabled="variable.key_disabled" label="Description" type="text" ng-model="variable.description" aria-label="Variable description">
									</md-input-container>
									<div layout="row" layout-align="start center" layout-margin>
										<md-input-container>
											<input ng-disabled="variable.key_disabled" label="Key" type="text" ng-model="variable.key" aria-label="Variable key">
										</md-input-container>
										<md-input-container>
											<input label="Value" type="text" ng-model="variable.value" aria-label="Variable value">
										</md-input-container>
										<md-switch ng-disabled="variable.key_disabled" md-invert ng-model="variable.constant" aria-label="Constant value?">
									    	Constant value? {{ variable.constant }}
									  	</md-switch>
									  	<md-button ng-if="!variable.key_disabled" class="md-icon-button" ng-click="delete_variable(pipeline, $index, $event)" tooltip="Delete this variable" aria-label="Remove this variable">
									      <ng-md-icon icon="delete" style="fill: grey;"></ng-md-icon>
									    </md-button>
									 </div>
								</div>
								<div layout-margin>
									<md-button class="md-button md-warn md-raised" ng-click="add_variable(pipeline)" tooltip="Add a variable to this pipeline" aria-label="Add a new variable">
								       	<span class="fa-layers fa-fw">
											<i class="fas fa-list-ol"></i>
											<i class="fas fa-plus" data-fa-transform="shrink-8 down-8 right-10"></i>
										</span>
										Add a variable
									</md-button>
								</div>
						    </v-pane-content>
					  </v-pane>
				</v-accordion>
			</section>
			
			<section>
				<md-subheader class="md-primary">Cluster</md-subheader>
				
				<md-input-container style="width:100%;">
					<label>Username</label>
					<input placeholder="Type here the user with which to launch your pipeline" type="text" ng-model="pipeline.username">
				</md-input-container>
				
				<md-input-container style="width:100%;">
					<label>Remote path</label>
					<input placeholder="Type here the path from which to launch your pipeline" type="text" ng-model="pipeline.remote_path">
				</md-input-container>
				
				<md-select class="padding-left-15" ng-model="pipeline.cluster" aria-label="Specifies the cluster">
			       	<md-option ng-repeat="cluster in clusters" ng-value="cluster.id">
			       		<div flex layout="row">
			       			<div>
			       				<img width="40px" src="imgs/cluster.png" layout-padding>
			       			</div>
				       		<div layout="row" layout-align="left center">
								<span>{{cluster.name}} &nbsp;</span><span class="lighter">({{cluster.info}})</span>
				       		</div>
				       	</div>
			       	</md-option>
				</md-select>
				
				<md-subheader class="md-primary">Cluster info</md-subheader>
				
				<md-input-container>
					<label>Account</label>
					<my-autocomplete flex on-select="select_account(pipeline, elem)" deselect-on-click="false" label="Search in accounts" url="account_url"></my-autocomplete>
				</md-input-container>
				
				<md-input-container>
					<label>Queue</label>
					<md-select md-on-open="load_qos(pipeline.username, pipeline.cluster)" class="padding-left-15" ng-model="pipeline.queue" aria-label="Specifies the cluster" ng-change="queue_changed(pipeline, pipeline.queue)">
				       	<md-option ng-repeat="qos in queues" ng-value="qos.id">
				       		<div flex layout="row">
					       		<div layout="row" layout-align="left center">
									<span>{{qos.name}} &nbsp;</span><span ng-if="qos.info" class="lighter">({{qos.info}})</span>
					       		</div>
					       	</div>
				       	</md-option>
					</md-select>
				</md-input-container>
			</section>
			
			
			
			<section>
				<md-subheader class="md-primary">Steps</md-subheader>
				
				<div ng-if="pipeline.steps.length == 0" layout="row" layout-align="left center" layout-margin>
					<i class="fas fa-times-circle fa-2x" style="color: Tomato;"></i>
					<p>No steps available yet.</p>
				</div>
				
				<v-accordion multiple>
				  <v-pane ng-repeat="step in pipeline.steps">
				    <v-pane-header ng-class="{disabled_pane: step.skip}">

						<div style="display: inline-block; vertical-align: middle;">
				    		<span class="fa-layers fa-fw fa-2x" ng-if="step.script_level == 'top'">
								<i class="fas fa-square" style="color:orange"></i>
							    <span class="fa-layers-text fa-inverse" data-fa-transform="shrink-10" style="font-weight: bold;">Top</span>
							</span>
				    		<span class="fa-layers fa-fw fa-2x" ng-if="step.script_level == 'project'">
								<i class="fas fa-square" style="color:blue"></i>
							    <span class="fa-layers-text fa-inverse" data-fa-transform="shrink-10" style="font-weight: bold;">Prj</span>
							</span>
							<span class="fa-layers fa-fw fa-2x" ng-if="step.script_level == 'experiment'">
								<i class="fas fa-square" style="color:green"></i>
							    <span class="fa-layers-text fa-inverse" data-fa-transform="shrink-10" style="font-weight: bold;">Exp</span>
							</span>
							<span class="fa-layers fa-fw fa-2x" ng-if="step.script_level == 'sample'">
								<i class="fas fa-square" style="color:red"></i>
							    <span class="fa-layers-text fa-inverse" data-fa-transform="shrink-10" style="font-weight: bold;">Run</span>
							</span>													
				    	</div>
				    	<div style="display: inline-block; vertical-align: middle;">
				    		<span class="fa-layers fa-fw fa-2x" ng-if="step.command_level != step.script_level && step.command_level == 'top'">
								<i class="fas fa-recycle" style="color:orange"></i>
							    <span class="fa-layers-text" data-fa-transform="shrink-10" style="font-weight: bold;">Top</span>
							</span>
				    		<span class="fa-layers fa-fw fa-2x" ng-if="step.command_level != step.script_level && step.command_level == 'project'">
								<i class="fas fa-recycle" style="color:blue"></i>
							    <span class="fa-layers-text" data-fa-transform="shrink-10" style="font-weight: bold;">Prj</span>
							</span>
							<span class="fa-layers fa-fw fa-2x" ng-if="step.command_level != step.script_level && step.command_level == 'experiment'">
								<i class="fas fa-recycle" style="color:green"></i>
							    <span class="fa-layers-text" data-fa-transform="shrink-10" style="font-weight: bold;">Exp</span>
							</span>
							<span class="fa-layers fa-fw fa-2x" ng-if="step.command_level != step.script_level && step.command_level == 'sample'">
								<i class="fas fa-recycle" style="color:red"></i>
							    <span class="fa-layers-text" data-fa-transform="shrink-10" style="font-weight: bold;">Run</span>
							</span>
							<span class="fa-layers fa-fw fa-2x" ng-if="step.command_level == step.script_level">
								<i class="fas fa-recycle" style="color:lightgray"></i>
							    <span class="fa-layers-text fa-inverse" data-fa-transform="shrink-10" style="font-weight: bold;">No</span>
							</span>
				    	</div>
				    
<!-- 										    	<md-button ng-if="step.skip" class="md-icon-button" aria-label="Skip this step"> -->
<!-- 											      <ng-md-icon icon="low_priority"></ng-md-icon> -->
<!-- 											    </md-button> -->
				    	
				    	<span tooltip="<b>Command line</b>:<br/>{{step.commandline}}" md-truncate flex><b ng-if="step.skip">(skipped)&nbsp;</b><b>Step {{$index+1}}: {{step.title}}</b></span>
				    	
				    	<span><i class="fas fa-microchip" style="color: red"></i>{{step.hpc_directives.cpu}}CPUS</span>
				    	<span><i class="fas fa-memory" style="color: darkgreen"></i>{{step.hpc_directives.memory.quantity}}{{step.hpc_directives.memory.size}}</span>
				    	<span><i class="fas fa-clock" style="color: blue"></i>{{step.hpc_directives.walltime}}</span>
				    	
				    	<md-button class="md-icon-button" ng-click="addMonitorStepToRepository(step, $event)" tooltip="Save step" aria-label="Save step">
					      <ng-md-icon icon="gavel"></ng-md-icon>
					    </md-button>
				    	
				    	<md-button class="md-icon-button" ng-click="showDeleteDialog(pipeline.steps, $index, $event)" tooltip="Delete this step" aria-label="Remove step">
					      <ng-md-icon icon="delete"></ng-md-icon>
					    </md-button>
					    
					    <md-button class="md-icon-button" ng-click="toggleStep(step, $event)" tooltip="Exclude/include this step" aria-label="Exclude/include step">
					      <ng-md-icon icon="highlight_off"></ng-md-icon>
					    </md-button>
					    
					    <md-button class="md-icon-button" ng-click="cloneStep(step, pipeline.steps, $event)" tooltip="Clone step" aria-label="Clone step">
					      <ng-md-icon icon="content_copy"></ng-md-icon>
					    </md-button>
					    
					    <md-button class="md-icon-button" ng-click="move_item(pipeline.steps, $index, -1, $event)" tooltip="Move up this step" aria-label="Move up this step">
					      <ng-md-icon icon="keyboard_arrow_up"></ng-md-icon>
					    </md-button>
					    <md-button class="md-icon-button" ng-click="move_item(pipeline.steps, $index, 1, $event)" tooltip="Move down this step" aria-label="Move down this step">
					      <ng-md-icon icon="keyboard_arrow_down"></ng-md-icon>
					    </md-button>
					    
				    </v-pane-header>
				    <v-pane-content>
				    	<div ng-include="'templates/step.html'"></div>
				    </v-pane-content>
				  </v-pane>
				</v-accordion>
				
				<div layout-margin>
				
					<md-button class="md-button md-warn md-raised" ng-click="showImportStepDialog(pipeline, $event)" tooltip="Import a step to this pipeline" aria-label="Import a step">
							<i class="fas fa-file-import"></i>
						</span>
						Import a step
					</md-button>
				
					<md-button class="md-button md-warn md-raised" ng-click="add_step(pipeline.steps)" tooltip="Add a step to this pipeline" aria-label="Add a new step">
				       	<span class="fa-layers fa-fw">
							<i class="fas fa-list-ol"></i>
							<i class="fas fa-plus" data-fa-transform="shrink-5 down-8 right-10"></i>
						</span>
						Add a step
					</md-button>
					
				</div>
			</section>
			
		</v-pane-content>
	</v-pane>
</v-accordion>