<section layout="column">
	
	<div ng-if="sending" layout="column" layout-align="start center" layout-padding>
		<i class="fas fa-spinner fa-spin fa-3x"></i>		
	</div>
	
	<div ng-if="!sending && selected_project != undefined">
		
		<md-toolbar>
			<div class="md-toolbar-tools">
				<h2 flex md-truncate ng-bind="selected_project.title"></h2>
				
			</div>
		</md-toolbar>
		
		<div layout-padding>
			
			<section>
				<md-subheader class="md-primary">Information</md-subheader>
				<div layout="column">
					<div layout="row">
						<md-input-container>
							<label>ID</label>
				   			<input type="text" ng-model="selected_project.id">
				   		</md-input-container>
						<md-input-container>
							<label>Title</label>
				   			<input type="text" ng-model="selected_project.title">
				   		</md-input-container>
				   		<md-input-container>
							<label>Subtitle</label>
				   			<input type="text" ng-model="selected_project.subtitle">
				   		</md-input-container>
				   		<md-input-container>
							<label>Creator</label>
				   			<input type="text" ng-model="selected_project.creator">
				   		</md-input-container>
				   	</div>
				   	
				   	<div layout="column" style="margin-bottom: 2em;">
			   			<div class="lighter">Creation date</div>
			   			<div ng-if="selected_project.creation_date == undefined">No date available</div>
			   			<div ng-if="selected_project.creation_date != undefined" layout="row">
			   				<div>{{selected_project.creation_date | amDateFormat:'DD MMMM YYYY'}}</div>
			   				<div class="lighter" tooltip="Exact date: {{selected_project.creation_date | amDateFormat:'DD MMMM YYYY HH:mm:ss'}}">
			   					&nbsp;(<span am-time-ago="selected_project.creation_date"></span>)
			   				</div>
			   			</div>
		   			</div>
		   			
				   	<div layout="column">
				   		<md-input-container>
							<label>Description</label>
				   			<textarea ng-model="selected_project.description" rows="3"></textarea>
				   		</md-input-container>
				   	</div>
			   	</div>
			</section>
			
			<section>
			<md-subheader class="md-primary">Summary</md-subheader>
			
				<div>
					<div layout-padding>
						<b>Total bioprojects:</b>
						<span ng-bind="get_total_bioprojects(selected_project)"></span>
					</div>
					<div layout-padding>
						<b>Total subprojects:</b>
						<span>{{selected_project.projects.length}}</span>
					</div>
					<div layout-padding>
						<b>Total samples:</b>
						<span ng-bind="get_total_samples(selected_project)"></span><span class="lighter"><span>(</span><span ng-bind="get_total_samples_pe(selected_project)"></span><span> PE - </span><span ng-bind="get_total_samples_se(selected_project)"></span><span> SE</span><span>)</span></span>
					</div>
					<div layout-padding>
						<b>Organism(s):</b>
						<span ng-bind="get_total_genomes(selected_project)"></span>
						<span>{{get_genomes(selected_project) | joiner}}</span>
<!-- 						<p class="no-margin" ng-repeat="genome in get_genomes(selected_project)">{{genome}}</p> -->
					</div>
				</div>
			</section>
			
			<section>
				<md-subheader class="md-primary">Projects</md-subheader>
				
				<div ng-if="selected_project.projects.length == 0" layout="column" layout-align="start center" layout-padding>
					<h3>No subprojects have been defined yet for this project.</h3>
					<img class="medium-height" width="auto" src="imgs/no_projects.png">
				</div>
				
				<div ng-if="file_sending" layout="column" layout-align="center center" style="color: cadetblue;">
					<i class="fas fa-spinner fa-spin fa-3x fa-fw"></i>
					<p><b>Loading information from SRA</b></p>
				</div>
				
				<div layout-margin layout="row">
					<md-button ngf-select="uploadFiles($files)" multiple="multiple" class="md-button md-warn md-raised" tooltip="Create projects at once" aria-label="Create projects at once">
						Load/create projects at once
					</md-button>
					
					<md-button class="md-button md-warn md-raised" ng-click="add_subproject(selected_project)" tooltip="Add a subproject to this project" aria-label="Add a new subproject">
			          	<span class="fa-layers fa-fw">
							<i class="fas fa-list-ol"></i>
							<i class="fas fa-plus" data-fa-transform="shrink-4 down-8 right-10"></i>
						</span>
						Add subproject
					</md-button>
					
					<md-button class="md-button md-warn md-raised" ng-click="delete_subprojects(selected_project)" tooltip="Deletes selected subprojects" aria-label="Deletes selected subprojects">
						<i class="fas fa-trash-alt"></i>
						Delete selected
					</md-button>
				</div>
				
				<div>
					<md-checkbox ng-if="selected_project.projects.length > 0" aria-label="Select all subprojects"
	                         ng-checked="isChecked()"
	                         md-indeterminate="isIndeterminate()"
	                         ng-click="toggleAll()">
	              		<span ng-if="isChecked()">Un-</span>Select all subprojects
	            	</md-checkbox>
	            </div>
            	
            	<div>
					<md-checkbox ng-if="selected_project.projects.length > 0" aria-label="Select all PE subprojects"
	                         ng-checked="isPEChecked"
	                         ng-click="toggleAllPE()">
	              		<span ng-if="isPEChecked">Un-</span>Select all Paired-End subprojects
	            	</md-checkbox>
	            	<md-checkbox ng-if="selected_project.projects.length > 0" aria-label="Select all SE subprojects"
	                         ng-checked="isSEChecked"
	                         ng-click="toggleAllSE()">
	              		<span ng-if="isSEChecked">Un-</span>Select all Single-End subprojects
	            	</md-checkbox>
	            </div>
            	
				<v-accordion class="vAccordion--default padding-10" multiple onexpand="select_subproject(index)">
				  <v-pane ng-repeat="subproject in selected_project.projects">
				    <v-pane-header ng-class="{disabled_pane: subproject.disabled}">
				    	
				    	<md-checkbox ng-checked="exists(subproject, checked_subproject)" ng-click="toggle(subproject, checked_subproject, $event)" aria-label="Select this subproject">
			    		</md-checkbox>
			    		
				    	<span md-truncate flex><b>Experiment {{$index+1}}: {{subproject.dataset.id}}</b></span>
				    	
				    	<span ng-if="subproject.dataset.pairedend == true" md-truncate flex class="lighter"><b>(PE)</b></span>
				    	<span ng-if="subproject.dataset.pairedend == false" md-truncate flex class="lighter"><b>(SE)</b></span>
				    	
				    	<span class="lighter">
				    		<b ng-if="subproject.dataset.genome != ''">({{subproject.dataset.genome}})</b>
				    		<b ng-if="subproject.dataset.genome == ''">(No genome)</b>
				    	</span>
				    	
				    	<span md-truncate flex class="lighter">
				    		<b>{{subproject.dataset.sample_ids.split('\n')[0] != '' ? subproject.dataset.sample_ids.split('\n').length : 'No'}} sample(s)</b>
				    	</span>
				    	
				    	<md-button ng-if="subproject.disabled" tooltip="This step is disabled. Click to enable this step" class="md-icon-button" ng-click="$event.stopPropagation(); subproject.disabled = !subproject.disabled" tooltip="Delete project" aria-label="Delete project">
				    		<i class="fas fa-toggle-on fa-2x" data-fa-transform="flip-h" style="color: red;"></i>	
				    	</md-button>
				    	<md-button ng-if="!subproject.disabled" tooltip="This step is enabled. Click to disable this step" class="md-icon-button" ng-click="$event.stopPropagation(); subproject.disabled = !subproject.disabled" tooltip="Delete project" aria-label="Delete project">
				    		<i class="fas fa-toggle-on fa-2x" style="color: green;"></i>
				    	</md-button>
				    	
				    	<md-button class="md-icon-button" ng-click="showDeleteSubprojectDialog($index, $event)" tooltip="Delete project" aria-label="Delete project">
					      <ng-md-icon icon="delete"></ng-md-icon>
					    </md-button>
					    
					    <md-button class="md-icon-button" ng-click="cloneSubproject($index, $event)" tooltip="Clone project" aria-label="Clone project">
					      <ng-md-icon icon="content_copy"></ng-md-icon>
					    </md-button>
					    
					    <md-button class="md-icon-button" ng-click="move_item(selected_project.projects, $index, -1, $event)" tooltip="Move up this project" aria-label="Move up this project">
					      <ng-md-icon icon="keyboard_arrow_up"></ng-md-icon>
					    </md-button>
					    
					    <md-button class="md-icon-button" ng-click="move_item(selected_project.projects, $index, 1, $event)" tooltip="Move down this project" aria-label="Move down this project">
					      <ng-md-icon icon="keyboard_arrow_down"></ng-md-icon>
					    </md-button>
				    </v-pane-header>
				    <v-pane-content>
				    	
				    <div ng-include="'templates/subproject.html'"></div>
				    	
				    </v-pane-content>
				  </v-pane>
				</v-accordion>
			</section>
			
			<spacer></spacer>			
		</div>
		
		<div style="position: fixed; bottom: 10px; right: 10px;">
			<md-button class="md-button md-warn md-raised" ng-click="save(selected_project)" tooltip="Save the steps of this pipeline" aria-label="Save the pipeline">
				<i class="fas fa-save"></i>
				1. Save project
			</md-button>
			<md-button class="md-button md-warn md-raised" ng-click="produce_scripts(selected_project)" tooltip="Produces the files on the server" aria-label="Produces the files on the server">
				<i class="fas fa-terminal"></i>
				2. Create scripts
			</md-button>
			<md-button class="md-button md-warn md-raised" ng-click="download_scripts(selected_project)" tooltip="Produces the files on the server" aria-label="Download a ZIP file with the project's scripts">
				<i class="fas fa-download"></i>
				3. Download
			</md-button>
		</div>
	</div>
</section>