<section layout="column">
	
	<div ng-if="sending" layout="column" layout-align="start center" layout-padding>
		<i class="fas fa-spinner fa-spin fa-3x"></i>		
	</div>
	
	<div ng-if="!sending && selected_project != undefined">
		
		<md-toolbar>
			<div class="md-toolbar-tools">
				<h2 flex md-truncate ng-bind="selected_project.title"></h2>
				
			</div>
		</md-toolbar>
		
		<div layout-padding>
			
			<section>
				<md-subheader class="md-primary">Information</md-subheader>
				<div layout="column">
					<div layout="row">
						<md-input-container>
							<label>ID</label>
				   			<input type="text" ng-model="selected_project.id">
				   		</md-input-container>
						<md-input-container>
							<label>Title</label>
				   			<input type="text" ng-model="selected_project.title">
				   		</md-input-container>
				   		<md-input-container>
							<label>Subtitle</label>
				   			<input type="text" ng-model="selected_project.subtitle">
				   		</md-input-container>
				   		<md-input-container>
							<label>Creator</label>
				   			<input type="text" ng-model="selected_project.creator">
				   		</md-input-container>
				   	</div>
				   	
				   	<div layout="column" style="margin-bottom: 2em;">
			   			<div style="color: grey;">Creation date</div>
			   			<div ng-if="selected_project.creation_date == undefined">No date available</div>
			   			<div ng-if="selected_project.creation_date != undefined" layout="row">
			   				<div>{{selected_project.creation_date | amDateFormat:'DD MMMM YYYY'}}</div>
			   				<div style="color: grey;" tooltip="Exact date: {{selected_project.creation_date | amDateFormat:'DD MMMM YYYY HH:mm:ss'}}">
			   					&nbsp;(<span am-time-ago="selected_project.creation_date"></span>)
			   				</div>
			   			</div>
		   			</div>
		   			
				   	<div layout="column">
				   		<md-input-container>
							<label>Description</label>
				   			<textarea ng-model="selected_project.description" rows="3"></textarea>
				   		</md-input-container>
				   	</div>
			   	</div>
			</section>
			
			<section>
			<md-subheader class="md-primary">Summary</md-subheader>
			
				<div>
					<div layout-padding>
						<b>Total projects:</b>
						<span>{{selected_project.projects.length}}</span>
					</div>
					<div layout-padding>
						<b>Total samples:</b>
						<span ng-bind="get_total_samples(selected_project)"></span>
					</div>
				</div>
			</section>
			
			<section>
				<md-subheader class="md-primary">Projects</md-subheader>
			
				<div ng-if="selected_project.projects == undefined" layout="column" layout-align="start center" layout-padding>
					<h3>No subprojects have been defined yet for this project.</h3>
					<img class="medium-height" width="auto" src="imgs/no_projects.png">
				</div>
			
				<v-accordion class="vAccordion--default" multiple onexpand="select_subproject(index)">
				  <v-pane ng-repeat="subproject in selected_project.projects">
				    <v-pane-header>
				    	<span md-truncate flex><b>Project {{$index+1}}: {{subproject.dataset.id}}</b></span>
				    	
				    	<span ng-if="subproject.dataset.pairedend == true" md-truncate flex style="color: grey;"><b>(PE)</b></span>
				    	<span ng-if="subproject.dataset.pairedend == false" md-truncate flex style="color: grey;"><b>(SE)</b></span>
				    	
				    	<span style="color: grey;"><b>({{subproject.dataset.genome}})</b></span>
				    	
				    	<span md-truncate flex style="color: grey;"><b> {{subproject.dataset.sample_ids.split('\n').length}} sample(s)</b></span>
				    	
				    	<md-button class="md-icon-button" ng-click="showDeleteSubprojectDialog($index, $event)" tooltip="Delete project" aria-label="Delete project">
					      <ng-md-icon icon="delete"></ng-md-icon>
					    </md-button>
					    
					    <md-button class="md-icon-button" ng-click="cloneSubproject($index, $event)" tooltip="Clone project" aria-label="Clone project">
					      <ng-md-icon icon="content_copy"></ng-md-icon>
					    </md-button>
					    
					    <md-button class="md-icon-button" ng-click="move_item(selected_project.projects, $index, -1, $event)" tooltip="Move up this project" aria-label="Move up this project">
					      <ng-md-icon icon="keyboard_arrow_up"></ng-md-icon>
					    </md-button>
					    
					    <md-button class="md-icon-button" ng-click="move_item(selected_project.projects, $index, 1, $event)" tooltip="Move down this project" aria-label="Move down this project">
					      <ng-md-icon icon="keyboard_arrow_down"></ng-md-icon>
					    </md-button>
					    
				    </v-pane-header>
				    <v-pane-content>
				    	
				    <div ng-include="'templates/subproject.html'"></div>
				    	
				    </v-pane-content>
				  </v-pane>
				</v-accordion>
			</section>
			
			<spacer></spacer>			
		</div>
		
		<div style="position: fixed; bottom: 10px; right: 10px;">
			<md-button class="md-button md-warn md-raised" ng-click="save(selected_project)" tooltip="Save the steps of this pipeline" aria-label="Save the pipeline">
				<i class="fas fa-save"></i>
				1. Save project
			</md-button>
			<md-button class="md-button md-warn md-raised" ng-click="add_subproject(selected_project)" tooltip="Add a step to this pipeline" aria-label="Add a new step">
	          	<span class="fa-layers fa-fw">
					<i class="fas fa-list-ol"></i>
					<i class="fas fa-plus" data-fa-transform="shrink-8 down-8 right-10"></i>
				</span>
				2. Add subproject
			</md-button>
			<md-button class="md-button md-warn md-raised" ng-click="add_step(selected_subproject)" tooltip="Add a step to this pipeline" aria-label="Add a new step">
	          	<span class="fa-layers fa-fw">
					<i class="fas fa-list-ol"></i>
					<i class="fas fa-plus" data-fa-transform="shrink-8 down-8 right-10"></i>
				</span>
				3. Add step
			</md-button>
			<md-button class="md-button md-warn md-raised" ng-click="produce_scripts(selected_project)" tooltip="Produces the files on the server" aria-label="Produces the files on the server">
				<i class="fas fa-terminal"></i>
				4. Create scripts
			</md-button>
			<md-button class="md-button md-warn md-raised" ng-click="download_scripts(selected_project)" tooltip="Produces the files on the server" aria-label="Download a ZIP file with the project's scripts">
				<i class="fas fa-download"></i>
				5. Download
			</md-button>
		</div>
	</div>
</section>