<div layout="column">
	<div layout-padding layout="row" layout-align="start center">
		<md-subheader class="md-primary">Step name:</md-subheader>
		<p>{{step.title}}</p>
		<md-button tooltip="Rename this step." class="md-icon-button md-raised md-warn" ng-click="showRenameStepDialog(steps, step, $event)" tooltip="Change step ID (rename)" aria-label="Change step ID">
			<i class="fas fa-pencil-alt"></i>	
   		</md-button>
   		<div ng-if="!step.title" md-colors="{color:'accent'}">
   			<i class="fas fa-exclamation-triangle"></i>
   			It seems your step is unnamed. Click on the yellow button to give it a name.
   		</div>
 	</div>
 	
 	<div layout="row">
		<div>
			<label>Description (short)</label>
			<input ng-model="step.description_short">
		</div>
		
		<div>
			<label>Description</label>
			<input ng-model="step.description">
		</div>
	</div>
</div>

<tagger tags="tags" target="step.tags"></tagger>

<!-- <h3>How this step of the pipeline will be executed</h3> -->
<!-- <md-select ng-model="step.type" aria-label="Specifies the type of analysis for this step"> -->
<!--    	<md-option ng-repeat="type in ['per-step', 'per-sample']" ng-value="type"> -->
<!--    		<div flex layout="row"> -->
<!-- 	   		<div> -->
<!-- 	   			<img ng-if="type == 'per-step'" height="50px" src="imgs/per_step.png"> -->
<!-- 	   			<img ng-if="type == 'per-sample'" height="50px" src="imgs/per_sample.png"> -->
<!-- 	   		</div> -->
<!-- 	   		<div flex layout="row" layout-align="left center" layout-padding> -->
<!-- 		   		<span ng-if="type == 'per-step'" style="color: grey">{{type}}: 1 script - all samples</span> -->
<!-- 	     		<span ng-if="type == 'per-sample'" style="color: grey">{{type}}: 1 script - 1 sample</span> -->
	     		
<!-- 	     		<span ng-if="type == 'per-step'" style="color: grey">(each step is applied to all samples)</span> -->
<!-- 	     		<span ng-if="type == 'per-sample'" style="color: grey">(each step is applied to each sample)</span> -->
<!-- 	   		</div> -->
<!-- 	   	</div> -->
<!--    	</md-option> -->
<!-- </md-select> -->

<h3>Skip this step if the following conditions are satisfied</h3>
<md-switch md-invert ng-model="step.overwrite" aria-label="Overwrite">
  	Overwrite (conditions are skipped) {{ step.overwrite }}
</md-switch>
  	
<md-button class="md-icon-button" ng-click="create_condition(step.conditions)" tooltip="Add condition" aria-label="Add condition">
<!--   <i class="fas fa-plus-circle"></i> -->
	<ng-md-icon icon="add_circle" style="fill:lightsalmon;"></ng-md-icon>
</md-button>

<div ng-repeat="condition in step.conditions">
	<label><b>Condition {{$index+1}}.</b></label>
	<md-button class="md-icon-button" ng-click="delete_condition(step.conditions, $index)" tooltip="Delete condition" aria-label="Delete condition">
<!--   		<i class="fas fa-minus-circle"></i> -->
		<ng-md-icon icon="remove_circle" style="fill:red;"></ng-md-icon>
	</md-button>
	<textarea class="code padding-10" ng-model="condition.command" rows="3" style="width: 90%;"></textarea>
</div>

<!-- <h3>Additional executables</h3> -->
<!-- <md-button class="md-button md-warn md-raised" ng-click="add_executable(step)" tooltip="Add an executable to this step" aria-label="Add an executable to this step"> -->
<!-- 	Add executable -->
<!-- </md-button> -->

<!-- <md-list flex> -->
<!-- 	<md-list-item class="md-2-line padding-30" ng-repeat="exec in step.executables"> -->
<!-- 		<div layout="column"> -->
<!-- 			<img src="imgs/script.png" class="md-avatar" alt="Script" /> -->
<!-- 		  	<span class="fa-layers fa-fw" title="Remove this script from the list" ng-click="delete_from_array(step.executables, $index)" layout-margin> -->
<!-- 			    <i class="fas fa-circle" style="color:Tomato"></i> -->
<!-- 			    <i class="fa-inverse fas fa-times" data-fa-transform="shrink-6"></i> -->
<!-- 			</span>	 -->
<!-- 		</div> -->
<!-- 		<div class="md-list-item-text" layout="column"> -->
<!--    			<label>Filename</label> -->
<!-- 			<input ng-model="exec.filename" style="width: 90%;"></textarea> -->

<!-- 			<label>Script</label> -->
<!-- 			<textarea ng-model="exec.command" rows="5" style="width: 90%;"></textarea> -->
<!-- 		</div> -->
<!-- 		<md-divider></md-divider> -->
<!-- 	</md-list-item> -->
<!-- </md-list> -->

<div>
	<md-button ng-click="show_begin_end_blocks = !show_begin_end_blocks" class="md-button md-raised">Show begin/end blocks</md-button>
</div>

<div ng-if="show_begin_end_blocks">
	<h3>Begin block</h3>
	<label>A block of code which will be performed <i>before</i> performing the commands over each entity.</label>
	<textarea ng-model="step.begin_block" rows="5" style="width: 90%;"></textarea>        
</div>

<h3>Command block</h3>
<textarea ng-model="step.commandline" rows="5" style="width: 90%;"></textarea>

<div ng-if="show_begin_end_blocks">
	<h3>End block</h3>
	<label>A block of code which will be performed <i>after</i> performing the commands over each entity.</label>
	<textarea ng-model="step.end_block" rows="5" style="width: 90%;"></textarea>
</div>

<h3>Modules</h3>
<div layout="row">
	<div layout="row" layout-padding>
		<my-autocomplete flex cache="true" on-select="add_to_list(elem, list)" target="step.modules" label="Search in modules" url-fx="get_module_url(context)" context="pipeline"></my-autocomplete>
		<div layout="column" layout-align="center start">
			<div ng-if="pipeline" ng-repeat="module in pipeline.modules track by $index" layout="row" layout-align="start center">
				<b md-colors="{color:'accent'}" title-direction="right" title="This module is inherited from the pipeline (global)" ng-bind="module.label"></b>
			</div>
			<div ng-repeat="module in step.modules track by $index" layout="row" layout-align="start center">
				<b ng-bind="module.label || module"></b>
				<span class="fa-layers fa-fw" title="Remove this module" ng-click="delete_from_array(step.modules, $index)" layout-margin>
				    <i class="fas fa-circle" style="color:Tomato"></i>
				    <i class="fa-inverse fas fa-times" data-fa-transform="shrink-6"></i>
				</span>
				<md-button class="md-icon-button" ng-click="move_item(step.modules, $index, -1, $event)">
			      <ng-md-icon icon="keyboard_arrow_up" aria-label="Move up this module"></ng-md-icon>
			    </md-button>
			    <md-button class="md-icon-button" ng-click="move_item(step.modules, $index, 1, $event)">
			      <ng-md-icon icon="keyboard_arrow_down" aria-label="Move down this module"></ng-md-icon>
			    </md-button>
			</div>
		</div>
	</div>
</div>

<h3>Step settings</h3>

<h4>Script level (level of parallelism)</h4>
<md-radio-group ng-model="step.script_level">
	<md-radio-button value="top">Top-level <span class="lighter">(will be created 1 script in the top directory)</span></md-radio-button>
	<md-radio-button value="project">Project-level <span class="lighter">(will be created 1 script within each project directory)</span></md-radio-button>
	<md-radio-button value="experiment">Experiment-level <span class="lighter">(will be created 1 script within each experiment directory)</span></md-radio-button>
	<md-radio-button value="sample">Sample-level <span class="lighter">(will be created 1 script within each sample directory)</span></md-radio-button>
	<md-radio-button value="specific">Specific data</md-radio-button>
</md-radio-group>

<h4>Command level</h4>
<md-radio-group ng-model="step.command_level">
	<md-radio-button value="top">Top-level <span class="lighter">(this command will be applied only once)</span></md-radio-button>
	<md-radio-button value="project">Project-level <span class="lighter">(this command will be applied once for each projects)</span></md-radio-button>
	<md-radio-button value="experiment">Experiment-level <span class="lighter">(this command will be applied once for each experiments)</span></md-radio-button>
	<md-radio-button value="sample">Sample-level <span class="lighter">(this command will be applied once for each samples)</span></md-radio-button>
	<md-radio-button value="specific">Specific data</md-radio-button>
</md-radio-group>

<!-- <h4>Internal script parallelism</h4> -->
<!-- <md-radio-group ng-model="step.command_parallelism_level"> -->
<!-- 	<md-radio-button value="sequential">Sequential <span class="lighter">(this command will be applied iteratively to all items, but in a serial manner)</span></md-radio-button> -->
<!-- 	<md-radio-button value="parallel">Parallel <span class="lighter">(this command will be applied concurrently to all items, in parallel)</span></md-radio-button> -->
<!-- </md-radio-group> -->

<!-- <h4>Internal script grouping</h4> -->
<!-- <md-radio-group ng-model="step.command_group_level"> -->
<!-- 	<md-radio-button value="all">All items <span class="lighter">(this command will be applied iteratively to all items)</span></md-radio-button> -->
<!-- 	<md-radio-button value="chunks">Divide in chunks <span class="lighter">(this command will be applied in chunks of <input style="pointer-events: all; width: 50px;" type="number" ng-model="step.command_chunk_size"> items)</span></md-radio-button> -->
<!-- </md-radio-group> -->

<!-- <md-switch ng-model="step.iterate" aria-label="Iterate samples"> -->
<!-- 	Iterate through samples: {{ step.iterate }} <span style="color: grey;">(if enabled, the command is repeated over all sample, individually)</span> -->
<!-- </md-switch> -->
<!-- <md-switch ng-model="step.sequential" aria-label="Analysis mode"> -->
<!-- 	Sequential analysis: {{ step.sequential }} <span style="color: grey;">(if enabled, each sample is analyzed after the other)</span> -->
<!-- </md-switch> -->


<h3>HPC directives</h3>

<!-- <div layout="column"> -->
<!-- 	<div layout-padding> -->
<!-- 		<md-button class="md-raised md-warn md-icon-button" ng-click="copy_hpc_directives(step)" tooltip="Copy settings from other steps" aria-label="Copy settings from other steps"> -->
<!-- 			<i class="fas fa-copy"></i> -->
<!--  		</md-button> -->
<!--   		<span>Copy settings from other steps (if available)</span> -->
<!-- 	</div> -->
<!-- <div> -->

<h4>Dependencies</h4>
<div ng-if="steps.length <= 1">
	No dependencies available to select.
</div>
<md-input-container layout="row" ng-if="steps.length > 1">
	<md-select ng-model="step.hpc_directives.dependencies" multiple aria-label="Dependencies for this step">
        <md-option ng-repeat="s in steps" ng-value="s.title" ng-if="s != step">
          {{s.title}}
        </md-option>
	</md-select>
</md-input-container>

<h4>Scheduler information* (mandatory fields)</h4>
<md-content layout="row" layout-padding layout-wrap>
	<md-input-container>
		<label>Walltime</label>
		<input required type="text" ng-model="step.hpc_directives.walltime">
	</md-input-container>
	<md-input-container>
		<label>Number of nodes</label>
		<input required type="number" min="0" ng-model="step.hpc_directives.nodes">
	</md-input-container>
	<md-input-container>
		<label>Number of CPU</label>
		<input required type="number" min="0" ng-model="step.hpc_directives.cpu">
	</md-input-container>
	<md-input-container>
		<label>Memory (RAM)</label>
		<input required type="number" min="0" ng-model="step.hpc_directives.memory.quantity">
	</md-input-container>
	<md-input-container>
		<label>Memory (MB, GB, TB)</label>
		<md-select ng-model="step.hpc_directives.memory.size">
            <md-option ng-repeat="size in ['MB', 'GB', 'TB']" ng-value="size">
              {{size}}
            </md-option>
      		</md-select>
	</md-input-container>
</md-content>

<h4>Additional parameters</h4>
<p>Set these parameters only if you haven't set them up at the global level or if you need different values for this particular step.</p>
<md-content layout="row" layout-padding layout-wrap>
	<md-input-container>
		<label>Account name</label>
		<input type="text" ng-model="step.hpc_directives.account">
	</md-input-container>
	<md-input-container>
		<label>Job name</label>
		<input type="text" ng-model="step.hpc_directives.job_name">
	</md-input-container>
	<md-input-container ng-if="pipeline">
		<label>Queue/Partition</label>
<!-- 		<input type="text" ng-model="step.hpc_directives.queue"> -->
		<md-select md-on-open="load_qos(pipeline.username, pipeline.cluster)" ng-model="step.hpc_directives.queue" aria-label="Specifies the cluster">
	       	<md-option ng-repeat="qos in queues" ng-value="qos.id">
	       		<div flex layout="row">
		       		<div layout="row" layout-align="left center">
						<span>{{qos.name}} &nbsp;</span><span ng-if="qos.info" class="lighter">({{qos.info}})</span>
		       		</div>
		       	</div>
	       	</md-option>
		</md-select>
	</md-input-container>
	<md-input-container>
		<label>Group list</label>
		<input type="text" ng-model="step.hpc_directives.group_list">
	</md-input-container>
	<md-input-container>
		<label>MPI processes</label>
		<input type="number" min="0" ng-model="step.hpc_directives.mpi_procs">
	</md-input-container>
</md-content>

<h4>Input/Output files</h4>
<md-content layout="row" layout-padding layout-wrap>
	<div layout="column" layout-align="start start">
		<md-switch ng-model="step.write_stdout_log" aria-label="Stdout to log">
			Write stdout of this command to log: {{ step.write_stdout_log }}
		</md-switch>
		<md-switch ng-model="step.write_stderr_log" aria-label="Stderr to log">
			Write stderr of this command to log: {{ step.write_stderr_log }}
		</md-switch>
	</div>
	<md-input-container>
		<label>Standard output</label>
		<input type="text" ng-model="step.hpc_directives.output">
	</md-input-container>
	<md-input-container>
		<label>Standard error</label>
		<input type="text" ng-model="step.hpc_directives.error">
	</md-input-container>
</md-content>