<section>
	<md-subheader class="md-primary">Dataset</md-subheader>
	<label>Dataset information</label>
	<md-content layout="column" layout-padding>
		<md-input-container>
			<label>Project ID</label>
			<input label="Project ID" type="text" ng-model="subproject.dataset.id">
		</md-input-container>
		
		<md-subheader class="md-primary">
			Load one or more XLS files or specify the sample IDs manually in the textarea (one per line)
			<span class="lighter">(<span ng-bind="subproject.dataset.sample_ids.split('\n').length"></span> sample(s) defined)</span>
		</md-subheader>
		<md-input-container>
			<textarea max-rows="3" rows="3" label="Sample IDS" ng-model="subproject.dataset.sample_ids"></textarea>
		</md-input-container>
		<md-input-container>
			<input type="file" import-sheet-js="xls_loaded" multiple/>
		</md-input-container>
		
<!-- 		<md-input-container> -->
<!-- 			<label>Base directory</label> -->
<!-- 			<input label="Basedir" type="text" ng-model="subproject.dataset.basedir"> -->
<!-- 			<md-checkbox ng-model="subproject.dataset.create_per_sample_directory" aria-label="Create a directory for each sample"> -->
<!-- 				<span>Create a directory for each sample</span> -->
<!-- 			</md-checkbox> -->
<!-- 		</md-input-container> -->
	</md-content>
</section>
<section>
	<md-subheader class="md-primary">Variables and constants (system-reserved variables have their keys disabled, but you can still edit their values)</md-subheader>
		<div ng-repeat="variable in subproject.dataset.variables">
			<md-input-container layout="row" flex>
				<input ng-disabled="variable.key_disabled" label="Description" type="text" ng-model="variable.description">
			</md-input-container>
			<div layout="row" layout-align="start center" layout-margin>
				<md-input-container>
					<input ng-disabled="variable.key_disabled" label="Key" type="text" ng-model="variable.key">
				</md-input-container>
				<md-input-container>
					<input label="Value" type="text" ng-model="variable.value">
				</md-input-container>
				<md-switch ng-disabled="variable.key_disabled" md-invert ng-model="variable.constant" aria-label="Constant value?">
			    	Constant value? {{ variable.constant }}
			  	</md-switch>
			  	<md-button ng-if="!variable.key_disabled" class="md-icon-button" ng-click="delete_variable(subproject, $index, $event)" tooltip="Delete this variable" aria-label="Remove this variable">
			      <ng-md-icon icon="delete" style="fill: grey;"></ng-md-icon>
			    </md-button>
			 </div>
		</div>
		<div layout-margin>
			<md-button class="md-button md-warn md-raised" ng-click="add_variable(subproject)" tooltip="Add a step to this pipeline" aria-label="Add a new variable">
		       	<span class="fa-layers fa-fw">
					<i class="fas fa-list-ol"></i>
					<i class="fas fa-plus" data-fa-transform="shrink-8 down-8 right-10"></i>
				</span>
				Add a variable
			</md-button>
		</div>		
<!-- 		<md-input-container> -->
<!-- 			<label>Variable to use across scripts to refer to the index of this project</label> -->
<!-- 			<input label="Project index variable" type="text" ng-model="subproject.dataset.project_index_variable"> -->
<!-- 		</md-input-container>		 -->
<!-- 		<md-input-container> -->
<!-- 			<label>Variable to use across scripts to refer to a sample in this project</label> -->
<!-- 			<input label="Sample variable" type="text" ng-model="subproject.dataset.sample_variable"> -->
<!-- 		</md-input-container> -->
<!-- 		<md-input-container> -->
<!-- 			<label>Variable to use across scripts to refer to ALL samples in this project</label> -->
<!-- 			<input label="All-samples variable" type="text" ng-model="subproject.dataset.all_samples_variable"> -->
<!-- 		</md-input-container> -->
</section>

<section>
	<md-subheader class="md-primary">Analysis type</md-subheader>
	
	<md-switch md-invert ng-model="subproject.dataset.pairedend" aria-label="Library" ng-change="onChangeLibrary(subproject.dataset.pairedend)">
    	Paired-end library {{ pairedend }}
  	</md-switch>
  	
  	<label>Select the cluster</label>
	<md-select ng-model="subproject.dataset.cluster" aria-label="Specifies the cluster" ng-change="cluster_changed(subproject.dataset.cluster)">
       	<md-option ng-repeat="cluster in clusters" ng-value="cluster.id">
       		<div flex layout="row">
       			<div>
       				<img width="40px" src="imgs/cluster.png" layout-padding>
       			</div>
	       		<div layout="row" layout-align="left center">
					<span>{{cluster.name}} &nbsp;</span><span class="lighter">({{cluster.info}})</span>
	       		</div>
	       	</div>
       	</md-option>
	</md-select>
  	
  	<label>Select the genome</label>
	<md-select ng-model="subproject.dataset.genome" md-on-open="load_genomes(subproject.dataset.cluster)" aria-label="Specifies the genome">
       	<md-option ng-repeat="genome in genomes" ng-value="genome.id">
       		<div flex layout="row">
       			<div>
       				<img width="40px" ng-src="{{genome.img}}" layout-padding>
       			</div>
	       		<div layout="row" layout-align="left center">
					<span ng-if="genome.organism">{{genome.organism}} -&nbsp;</span><span ng-if="genome.name">{{genome.name}}&nbsp;</span><span class="lighter">({{genome.id}})</span>
	       		</div>
	       	</div>
       	</md-option>
	</md-select>
</section>

<section>
	<md-subheader class="md-primary">Steps</md-subheader>
	
	<div ng-if="subproject.steps.length == 0" layout="row" layout-align="left center" layout-margin>
		<i class="fas fa-times-circle fa-2x" style="color: Tomato;"></i>
		<p>No steps available yet.</p>
	</div>
	
	<div layout="column" ng-if="subproject.steps.length > 0" layout-padding>
		<md-button class="md-raised md-warn md-icon-button" ng-click="copy_steps(subproject)" tooltip="Copy these steps to ALL other projects" aria-label="Copy these steps to ALL other projects">
			<i class="fas fa-copy"></i>
 		</md-button>
  		<span>Copy these steps to ALL other projects</span>
	</div>
	
	<v-accordion multiple>
	  <v-pane ng-repeat="step in subproject.steps">
	    <v-pane-header ng-class="{disabled_pane: step.skip}">
	    
	    	<md-button ng-if="step.skip" class="md-icon-button">
		      <ng-md-icon icon="low_priority"></ng-md-icon>
		    </md-button>
	    	
	    	<span tooltip="<b>Command line</b>:<br/>{{step.commandline}}" md-truncate flex><b ng-if="step.skip">(skipped)&nbsp;</b><b>Step {{$index+1}}: {{step.title}}</b></span>
	    	
	    	<md-button class="md-icon-button" ng-click="showDeleteStepDialog(step, $event)" tooltip="Delete this step" aria-label="Remove step">
		      <ng-md-icon icon="delete"></ng-md-icon>
		    </md-button>
		    
		    <md-button class="md-icon-button" ng-click="toggleStep(step, $event)" tooltip="Exclude/include this step" aria-label="Exclude/include step">
		      <ng-md-icon icon="highlight_off"></ng-md-icon>
		    </md-button>
		    
		    <md-button class="md-icon-button" ng-click="cloneStep(step, $event)" tooltip="Clone step" aria-label="Clone step">
		      <ng-md-icon icon="content_copy"></ng-md-icon>
		    </md-button>
		    
		    <md-button class="md-icon-button" ng-click="move_item(subproject.steps, $index, -1, $event)" tooltip="Move up this step" aria-label="Move up this step">
		      <ng-md-icon icon="keyboard_arrow_up"></ng-md-icon>
		    </md-button>
		    <md-button class="md-icon-button" ng-click="move_item(subproject.steps, $index, 1, $event)" tooltip="Move down this step" aria-label="Move down this step">
		      <ng-md-icon icon="keyboard_arrow_down"></ng-md-icon>
		    </md-button>
		    
	    </v-pane-header>
	    <v-pane-content>
	    	<div ng-include="'templates/step.html'"></div>
	    </v-pane-content>
	  </v-pane>
	</v-accordion>
	
	<div layout-margin>
		<md-button class="md-button md-warn md-raised" ng-click="add_step(subproject)" tooltip="Add a step to this pipeline" aria-label="Add a new step">
	       	<span class="fa-layers fa-fw">
				<i class="fas fa-list-ol"></i>
				<i class="fas fa-plus" data-fa-transform="shrink-8 down-8 right-10"></i>
			</span>
			Add a step
		</md-button>
	</div>
	
</section>